span {
    font-size: 2em;
    width: auto;
    height: auto;
    color: green;
    background: rgb(236, 236, 236);
    border-radius: 50%;
    padding: 8px;
    line-height: 1;
    border: 1px solid green;
}

div {
    margin: 4px;
}

span.material-icons-two-tone {
    background: transparent;
    border-color: black;
    filter: invert(21%) sepia(65%) saturate(6896%) hue-rotate(112deg) brightness(96%) contrast(103%)
}