li {
    margin: 4px;
}

.ugly {
    color: darkkhaki;
    background-color: darkturquoise;
}

.nice {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#id154 {
    border: 4px solid purple;
}

* {
    font-style: italic;
}

.shopping-list li {
    text-decoration: red underline;
}

.outer-ul > li {
    border: 1px solid brown;
}

.a.b {
    color: lightgreen;
}

.inner-ul > .a.b {
    font-size: 40px;
}

.inner-ul > .c ~ li {
    border-left: 3px solid magenta;
}

.d + li {
    border-right: 5px solid green;
}

.special ~ * {
    color: lime;
}

